.SensorList{
    margin-left: 60px;
    float: right;
    padding: 20px 40px 10px 40px;
    background-color: #fff;
}

.box{
    width: 300px;
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}