.NodeList{
    float: left;
    padding: 20px 40px 10px 40px;
    background-color: #fff;
    margin-top: 60px;
    margin-left: 80px;
}

.Node{
    width: 300px;
}

.Node span{
    font-size: 11pt;
}

a{
    text-decoration: none;
}
